@import "tailwindcss";
@source "../**/*.{js,jsx,ts,tsx,mdx}";

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --border: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }

    .sbdocs-wrapper {
        background: hsl(var(--background));
        color: hsl(var(--foreground));
    }

    .sbdocs-content {
        color: hsl(var(--foreground));
    }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));
}

@keyframes ripple {
  0% { transform: scale(0); opacity: .35; }
  100% { transform: scale(4); opacity: 0; }
}

.ripple-effect {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple 550ms ease-out;
  pointer-events: none;
}
