$button-green: #329411;
$button-dark-green: #25700C;
$button-red: #A7021D;
$button-dark-red: #850117;

$icon-red: #B83232;
$icon-grey: #7A7070;
$icon-green: #5CB85C;

$text-black: #000000;
$text-white: #FFFFFF;
$text-blue: #2C3E50;
$text-grey: #74777C;
$text-dark-grey: #464646;
$text-red: #B83232;

$border-grey: #CECACA;
$border-light-grey: #E6E6E6;

$background-white: #FFFFFF;
$background-grey: #F2F2F2;
$background-light-grey: #F8F8F8;
$background-dark-grey: #E6E6E6;

$sidemenu-dark-grey: #272727;
$sidemenu-grey: #333333;

$input-grey: #f2f2f2;